BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
Standard: Latest
NamespaceIndentation: All
FixNamespaceComments: true
IncludeBlocks: Regroup
SortIncludes: true
